#menu {
  height: 38px;
  width: 400px;
  background-color: #808080;
  color: #fff;
}
.level :hover {
  background-color: #C0C0C0;
}
#menu .level {
  float: left;
  position: relative;
  list-style: none;
}
#menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
}
#Nunc {
  display: none;
  background-color: #C0C0C0;
}
#Nunc li {
  list-style: none;
}
#Nunc li :hover {
  background-color: #808080;
}
#Proin {
  display: none;
  position: absolute;
  margin-left: 60px;
  background-color: #808080;
}
#Proin li {
  list-style: none;
}
#Proin li :hover {
  background-color: #C0C0C0;
}
